/* Index */

/* Colors */
:root {
    --background-color: #435a68; /* Dark background */
    --text-color-primary: #ffffff; /* Primary text color */
    --text-color-secondary: #b3b3b3; /* Secondary text color */
    --accent-color: #4b88a2; /* Accent color for buttons and links */
    --highlight-color: #63b3f5; /* Highlight color for certain elements */
}

/* General Styles */
body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color-primary);
}

/* Background Styles */
body {
    background-color: #374d58; /* Fallback color */
    background-image: url('images/gradient_pc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-family: "Century Gothic", Arial, sans-serif;
    font-weight: bold;
}

/* Mobile Background */
@media (max-width: 600px) {
    body {
        background-image: url('images/gradient_mobile.png');
    }
}

/* Mouse Glow Effect */
#mouse-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.glow-circle {
    /* Blur effect */
    filter: blur(20px);
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 80%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.09s ease;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    backdrop-filter: blur(10px);
    background-color: #343a4067;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    max-height: 50px; /* Adjust this value to fit your design */
    height: auto;
    width: auto;
    transition: filter 0.3s ease;
}

.navbar-brand .logo:hover {
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff)
            drop-shadow(0 0 30px #fff) drop-shadow(0 0 40px #0099ff)
            drop-shadow(0 0 70px #0099ff) drop-shadow(0 0 80px #0099ff)
            drop-shadow(0 0 100px #0099ff) drop-shadow(0 0 150px #0099ff);
}


.navbar-nav {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-item a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 16px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.nav-item a:hover {
    /*text shadow that also fades in and out*/
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #ff00de,
    0 0 70px #ff00de,
    0 0 80px #ff00de,
    0 0 100px #ff00de,
    0 0 150px #ff00de;

    color: white;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    min-height: 100vh;
}

.hero-text {
    max-width: 50%;
    animation: fadeInDown 2s ease-in-out;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 2em;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-image {
    animation: bob 2s infinite, fadeInDown 2s ease-in-out;
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Button Styles */
.btn {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color-primary);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
    animation: fadeInDown 2s ease-in-out;
}

.btn:hover {
    background-color: var(--highlight-color);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    color: white;
}


/* Fade-in effect */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes highlight_green {
  0% {
    color: #a3ffba;
    text-shadow: none;
  }
  50% {
    color: #4CFF50;
    text-shadow: 0 0 20px #4CFF50;
  }
  100% {
    color: #a3ffba;
    text-shadow: none;
  }
}

.highlight_green {
  animation: highlight_green 2s infinite;
}

@keyframes highlight_blue {
  0% {
    color: #f0ff66;
    text-shadow: none;
  }
  50% {
    color: #b5c522;
    text-shadow: 0 0 10px #b3be0c;
  }
  100% {
    color: #f0ff68;
    text-shadow: none;
  }
}

.highlight_blue {
  animation: highlight_blue 2s infinite;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        justify-content: flex-end; /* Align the content to the bottom */
        min-height: 100vh;
        padding-bottom: 20px; /* Add some padding at the bottom */
    }

    .hero-image {
        order: 2; /* Ensure the image comes after the text */
        margin-top: 20px; /* Add spacing between text and image */
        max-width: 100%;
        height: auto;
    }

    .hero-text {
        order: 1; /* Ensure the text comes first */
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 0 10px;
        padding-bottom: 20px;
    }
}








/* About Page */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #0000005d;
    min-height: calc(100vh - 60px); /* Adjust height considering the navbar */
    color: var(--text-color-primary);
}

.about-container {
    max-width: 800px;
    text-align: center;
    animation: fadeInUp 2s ease-in-out;
}

.about-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--highlight-color);
}

.about-text {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--text-color-primary);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FAQ Section */
.faq-section {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color-primary);
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--highlight-color);
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.faq-question:hover {
    color: var(--highlight-color);
}

.faq-answer {
    font-size: 1.2em;
    line-height: 1.6;
    margin-left: 20px;
}










/* Library Section */
/* Ensure the section covers the full viewport */
.library-section {
    min-height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color); /* Replace with your desired background */
    position: relative; /* Needed if the background is absolutely positioned */
    padding: 0;
    margin: 0;
}

/* Make the genre grid take full width and height */
.genre-grid {
    width: 100%;
    height: 100%;
    background-image: url('path/to/your/background-image.jpg'); /* Replace with your background image */
    background-size: cover; /* Ensures the background covers the entire div */
    background-position: center; /* Centers the background image */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center; /* Center items vertically */
    padding: 0; /* Remove any default padding */
    box-sizing: border-box; /* Ensure padding doesn't affect the width/height */
}

/* Optional: if you want some transparency */
.genre-grid {
    background-color: rgba(0, 0, 0, 0.534); /* Slightly transparent overlay */
/* wider and longer */
    width: 90%;
    height: 70%;

    border-radius: 10px;
}

.genre-item {
    background-color: #ffffff11;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: var(--text-color-primary);
}

.genre-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.genre-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.genre-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--text-color-primary);
}
