/* Colors */
:root {
    --background-color: #1b1b1b; /* Dark background */
    --text-color-primary: #ffffff; /* Primary text color */
    --text-color-secondary: #b3b3b3; /* Secondary text color */
    --accent-color: #4b88a2; /* Accent color for buttons and links */
    --highlight-color: #a78606; /* Highlight color for certain elements */
}

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color-primary);
}

/* Background Styles */
body {
    background-color: #3d464b; /* Fallback color */
    background-image: url('images/gradient_pc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Century Gothic", Arial, sans-serif;
    font-weight: bold;
}

/* Mobile Background */
@media (max-width: 768px) {
    body {
        background-image: url('images/gradient_mobile.png');
    }
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    min-height: 100vh;
}

.hero-text {
    max-width: 50%;
    animation: fadeInDown 2s ease-in-out;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 2em;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-image {
    animation: bob 2s infinite, fadeInDown 2s ease-in-out;
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color-primary);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    animation: fadeInDown 2s ease-in-out;
}

.btn:hover {
    background-color: var(--highlight-color);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
    }
}

/* Category Section */
.category-section {
    padding: 50px 10%;
    background-color: #2e2e2e; /* Darker section background */
}

.category-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.category-grid, .book-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category, .book {
    text-align: center;
    background-color: #333; /* Box background */
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.category:hover, .book:hover {
    transform: scale(1.05);
}

.btn-category {
    text-decoration: none;
    color: var(--text-color-primary);
    background-color: var(--accent-color);
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-category:hover {
    background-color: var(--highlight-color);
}

/* Book Images */
.book img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Fade-in effect */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes highlight_green {
  0% {
    color: #a3ffba;
    text-shadow: none;
  }
  50% {
    color: #4CFF50;
    text-shadow: 0 0 20px #4CFF50;
  }
  100% {
    color: #a3ffba;
    text-shadow: none;
  }
}

.highlight_green {
  animation: highlight_green 2s infinite;
}

@keyframes highlight_blue {
  0% {
    color: #a3baff;
    text-shadow: none;
  }
  50% {
    color: #4C50FF;
    text-shadow: 0 0 20px #4C50FF;
  }
  100% {
    color: #a3baff;
    text-shadow: none;
  }
}

.highlight_blue {
  animation: highlight_blue 2s infinite;
}